

<div class="d-flex justify-content-center">
  <div *ngIf="isBasicListSelected" class="col-7">
    <div *ngFor="let post of posts" class="mx-3 mb-3">
      <div class="colored-border py-3">
        <div class="row">
          <div class="red-square align-self-center"></div>
          <div class="col">
            <div class="col post-title">
              <b>{{ post.title }}</b>
            </div>
            <div class="col post-body mt-2">{{ post.body }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isBasicListSelected" class="col m-5">
    <div *ngFor="let post of posts" class="mx-3 mb-3">
      <div class="colored-border py-3">
        <div class="row">
          <div
            class="red-square align-self-center text-white d-flex justify-content-center align-items-center"
            style="font-size: 1.5rem; cursor: pointer;"
            (click)="onRedSquareClick(post)"
          >
            {{ getInitials(post) }}
          </div>
          <div class="col">
            <div class="col post-title mb-3">
              <b>{{ post.title }}</b>
            </div>
            <p>
              publicato da: <span class="text-danger text-decoration-underline">{{ getUserFromPost(post)?.name }}</span>
            </p>
          </div>
          <mat-card class="col" *ngIf="selectedPost === post">
            <mat-card-header>
              <mat-card-subtitle>post publicato da: {{ getUserFromPost(post)?.name }} alias {{ getUserFromPost(post)?.username}}</mat-card-subtitle>
              <mat-card-title>{{post.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ post.body }}</p>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-raised-button color="warn"(click)="closePostDetails()">Chiudi</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>
